@import "tailwindcss";

@font-face {
  font-family: 'poppins-regular';
  src: url(/fonts/Poppins-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins-semi-bold';
  src: url(/fonts/Poppins-semi-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins-bold';
  src: url(/fonts/Poppins-bold.ttf) format('truetype');
}

body {
  font-family: 'poppins-regular';
}

.font-bold {
  font-family: 'poppins-bold';
}
